<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>List of users
    </title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
    <% for (var i=1;i<=formdata.length;i++){%>
        <td>name<%=[i]%></td>
        <td>email<%=[i]%></td>
        <td>phone<%=[i]%></td>
        <td>city<%=[i]%></td>
        <td>postcode<%=[i]%></td>

        <%}%>
</body>
</html>